.scoreBox {
  width: 70%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  left: 15%;
}

.scoreBox > p {
  font-size: 50px;
  text-align: center;
}

.red {
  position: absolute;
  top: 5%;
  background-color: red
}

.green {
  position: absolute;
  top: 30%;
  background-color: green;
}

.blue {
  position: absolute;
  top: 55%;
  background-color: blue;
}


.purple {
  position: absolute;
  top: 80%;
  background-color: purple;
}
