.scoreBox {
  width: 70%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  left: 15%;
  border: 3px solid #272727;
  border-radius: 10px;
}

.scoreBox > p {
  font-size: 50px;
  text-align: center;
}

.red {
  position: absolute;
  top: 5%;
}

.green {
  position: absolute;
  top: 30%;
}

.blue {
  position: absolute;
  top: 55%;
}


.purple {
  position: absolute;
  top: 80%;
}


.jokerbox {
  background-color: #7fc9ff;
  width: 50%;
  aspect-ratio: 1 / 1;
  border-color: #0c5593;
  border-radius: 10%;
  border-width: 3px;
  border-style: solid;
  overflow: hidden;
  position: absolute;
  right: -20%;
}

.top-box {
  top: -15%;
  rotate: 5deg;
}

.bottom-box {
  bottom: -0%;
  rotate: -7deg;
}

.jokerbox > img {
  width: 100%;
  margin: auto;
  display: block;
}

.jokerbox > div {
  position: absolute;
  width: 180%;
  left: -40%;
  height: 20%;
  background-color: gray;
  top: 40%;
  rotate: 45deg;
}

.subbox {
  background-color: #a94442;
  width: 45%;
  aspect-ratio: 2/1;
  position: absolute;
  top: 100%;
  border-radius: 10%;
  border: 3px solid #272727;
  font-size: 30px;
  text-align: center;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: rgba(0, 0, 0, .87);

}

.subbox.right {
  right: 0%;

}
.subbox.left {
  left: 0%;

}

.subbox > p {
  margin-top: 4%;
}

.purple > .subbox {
  top: unset;
  bottom: 100%;
}
