<div class="container">
  <div class="round">{{round}}. Runde - {{points}} P.</div>
  <div class="buttons">
    <div>
      <div>
        <div><div *ngIf="round == this.game2.currentRound || winner == 'red'" (click)="selectRed()">+{{points}}</div></div>
        <div><div *ngIf="round == this.game2.currentRound || winner == 'green'" (click)="selectGreen()">+{{points}}</div></div>
        <div><div *ngIf="round == this.game2.currentRound || winner == 'blue'" (click)="selectBlue()">+{{points}}</div></div>
        <div><div *ngIf="round == this.game2.currentRound || winner == 'purple'" (click)="selectPurple()">+{{points}}</div></div>
        <div><div *ngIf="round == this.game2.currentRound && this.forceWinner == 'false'" (click)="selectNon()">❌</div></div>
      </div>
    </div>
  </div>
</div>
