.container {
  height: 90%;
  top: 10%;
  position: sticky;
  left: 15%;
}

.score {
  font-size: 75px;
  height: 15%;
}

.first {
  font-size: 100px;
}

.last {
  font-size: 70px;
}


.font-border {
  text-shadow: -2px 2px 0 #000,
  2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000;
}

.next {
  position: absolute;
  top: 80%;
  bottom: 10%;
  left: 40%;
  right: 40%;
  background-color: #FAEBD6;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border-radius: 30px;
  border: 3px solid #272729;
  padding: 5px;
}

.next > p {
  font-size: 50px;
  text-align: center;
  line-height: 50px;
}
