<div class="outer-container">
  <div class="container">
    <div class="scoreBox red">
      <p>{{gameKeeper.score_red}}</p>
    </div>
  </div>
  <div class="container">
    <div class="scoreBox green">
      <p>{{gameKeeper.score_green}}</p>
    </div>
  </div>
  <div class="container">
    <div class="scoreBox blue">
      <p>{{gameKeeper.score_blue}}</p>
    </div>
  </div>
  <div class="container">
    <div class="scoreBox purple">
      <p>{{gameKeeper.score_purple}}</p>
    </div>
  </div>
  <div class="container">
  </div>
</div>
