.container {
  height: 100%;
  width: 20%;
  /*position: absolute;*/
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.outer-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  left: 20%;
  position: absolute;
}

.scoreBox {
  height: 70%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  left: 15%;
  top: 10%;
  border: 3px solid #272727;
  border-radius: 10px;
}

.scoreBox > p {
  font-size: 50px;
  text-align: center;
}

