.container {
  height: 100%;
  width: 20%;
  /*position: absolute;*/
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.outer-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  left: 20%;
  position: absolute;
}

.scoreBox {
  height: 70%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  left: 15%;
  top: 10%;
  border: 3px solid #272727;
  border-radius: 10px;
}

.scoreBox > p {
  font-size: 50px;
  text-align: center;
}
.jokerbox {
  background-color: #7fc9ff;
  width: 40%;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  border-color: #0c5593;
  border-width: 3px;
  border-style: solid;
  overflow: hidden;
  position: relative;
  right: 10%;
}

.top-box {
  top: -10%;
  rotate: 5deg;
}


.jokerbox > img {
  width: 100%;
  margin: auto;
  display: block;
}

.jokerbox > div {
  position: absolute;
  width: 180%;
  left: -40%;
  height: 20%;
  background-color: gray;
  top: 40%;
  rotate: 45deg;
}


.subbox {
  background-color: #a94442;
  width: 5%;
  aspect-ratio: 2/1;
  position: absolute;
  bottom: 0;
  border-radius: 10%;
  border: 3px solid #272727;
  font-size: 30px;
  text-align: center;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: rgba(0, 0, 0, .87);

}


.subbox > p {
  margin-top: 4%;
}

