<div class="outer-container">
  <div class="container">
    <div class="scoreBox bg-red">
      <p>{{gameKeeper.score_red}}</p>
    </div>
    <div class="jokerbox top-box" (click)="game2.setJoker(0)">
      <img src="assets/joker/platz.png">
      <div *ngIf="!game2.getJoker(0)"></div>
    </div>
    <div style="left: 0">
      <div class="subbox" style="left: 0%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(0, 5)"><p>-5</p></div>
      <div class="subbox" style="left: 6%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(0, 10)"><p>-10</p></div>
    </div>
  </div>
  <div class="container">
    <div class="scoreBox bg-green">
      <p>{{gameKeeper.score_green}}</p>
    </div>
    <div class="jokerbox top-box" (click)="game2.setJoker(1)">
      <img src="assets/joker/platz.png">
      <div *ngIf="!game2.getJoker(1)"></div>
    </div>
    <div class="subbox" style="left: 20%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(1, 5)"><p>-5</p></div>
    <div class="subbox" style="left: 26%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(1, 10)"><p>-10</p></div>
  </div>
  <div class="container">
    <div class="scoreBox bg-blue">
      <p>{{gameKeeper.score_blue}}</p>
    </div>
    <div class="jokerbox top-box" (click)="game2.setJoker(2)">
      <img src="assets/joker/platz.png">
      <div *ngIf="!game2.getJoker(2)"></div>
    </div>
    <div class="subbox" style="left: 40%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(2, 5)"><p>-5</p></div>
    <div class="subbox" style="left: 46%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(2, 10)"><p>-10</p></div>
  </div>
  <div class="container">
    <div class="scoreBox bg-purple">
      <p>{{gameKeeper.score_purple}}</p>
    </div>
    <div class="jokerbox top-box" (click)="game2.setJoker(3)">
      <img src="assets/joker/platz.png">
      <div *ngIf="!game2.getJoker(3)"></div>
    </div>
    <div class="subbox" style="left: 60%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(3, 5)"><p>-5</p></div>
    <div class="subbox" style="left: 66%" *ngIf="game2.isSubBoxVisible" (click)="gameKeeper.regelBruch(3, 10)"><p>-10</p></div>
  </div>
  <div class="container">
  </div>
</div>
