<div class="main-container">
  <app-start-screen *ngIf="gameKeeper.round == 0"></app-start-screen>
  <app-game1 *ngIf="gameKeeper.round == 1" ></app-game1>
  <app-game2 *ngIf="gameKeeper.round == 2" rounds="24"></app-game2>
  <app-game2 *ngIf="gameKeeper.round == 3" rounds="6"></app-game2>
  <app-game2 *ngIf="gameKeeper.round == 4" rounds="4" force-winner="true" [points]="[30,50,50,80]"></app-game2>
  <app-transition-screen *ngIf="gameKeeper.round == 5"></app-transition-screen>
  <app-transition-screen *ngIf="gameKeeper.round ==-1"></app-transition-screen>
</div>
