p {
  font-family: Lato;
}

.main-container {
  margin: auto;
  aspect-ratio: 4 / 3;
  height: 100%;
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-color: #272727;
}
