.grid-container {
  display: table;
  table-layout: fixed;
  padding: 10px;
  border-spacing: 20px;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
}
.grid-item {
  padding: 5px;
  text-align: center;
}
