/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;

}

.bg-red {
  background-color: red
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
  color: white;
}


.bg-purple {
  background-color: yellow;
}

.c-red {
  color: red;
}

.c-blue {
  color: blue;
}

.c-green {
  color: green;
}

.c-purple {
  color: yellow;
}
